@import "~antd/dist/antd.css";

body {
  font-size: larger;
  color: antiquewhite;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a.Link {
  font-size: xx-large;
}

li a.Link {
  border-top: 15px solid white;
  border-bottom: 2px solid greenyellow;
}

.inputCol {
  border-top: 30px solid white;
}
